.searchbox {
    border: 1px solid;
    margin-bottom: 10px;
    padding: 5px;
}

.searchtable {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.findtable{
    margin-top: 20px;
}
.summary_style{
    font-size: small;
}
.text_style {
    width: 300px;
}
.sectionname{
    margin-right: 5px;
}
.type_style{
    margin-left: 5px;
    margin-right: 5px;
}
.button_next{
    margin-left: auto;
    margin-right: auto;
}
.nextbuttonvisible {
    visibility: visible;
}
.nextbuttonunvisible {
    visibility: hidden;
}
